{% extends "base.html" %}{% block title %}Profile{% endblock %}
{% block content %}
<!-- profile card -->
<div class="card my-3" style="width:58rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-4 text-start">
                {% if profile.avatar %}
                <img src="{{ url_for('static', filename='users_files/' + profile.avatar) }}" class="rounded" width="250">
                {% endif %}
                <div class="card my-1" style="height:2rem; width:8rem;">
                    <div class="card-body">
                        <p class="s-margin"><img src="{{ url_for('static', filename='img/man.png') }}"> Мужчина</p>
                    </div>
                </div>
                <div class="card my-1" style="height:2rem; width:12rem;">
                    <div class="card-body">
                        <p class="s-margin"><img src="{{ url_for('static', filename='img/cake.png') }}"> 03.04.99 (24 года)</p>
                    </div>
                </div>
                <div class="card my-1" style="height:2rem; width:12rem;">
                    <div class="card-body">
                        <p class="s-margin"><img src="{{ url_for('static', filename='img/mail.png') }}"> {{ profile.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col text-start">
                <div class="row">
                    <div class="col-auto">
                        <h3>{{ profile.username }}</h3>
                    </div>
                    <div class="col text-end">
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#settings"><img src="{{ url_for('static', filename='img/pencil.png') }}"> Редактировать профиль</button>
                    </div>

                </div>
                <h6>Изучаю: Программирование</h6>
                <h6>О себе:</h6>
                <p>ЛЯГУШЕЧКА ПЕПА</p>
                <div style="display: flex; align-items: center;">
                  <hr style="flex: 1;">
                  <p style="margin: 0; padding: 0 10px;" class="fw-bold">ПОСТЫ</p>
                  <hr style="flex: 1;">
                </div>
                {% for post in posts %}
                <div class="row">
                    <div class="col-10">
                        <a class="aa" href="{{ url_for('post.post_page', post_id=post.id) }}"><p class="fw-bold"><img src="{{ url_for('static', filename='img/picture.png') }}"> {{post.title}}</p></a>
                    </div>
                    <div class="col my-2 text-end">
                        <p>{{post.created}}</p>
                    </div>
                </div>
                <div class="col">
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data">
<!-- settings block -->
<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label">Настройки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="user-avatar" class="form-label">Измените картинку профиля</label>
          <input class="form-control" type="file" id="user-avatar" name="user-avatar">
        </div>
            <label class="form-label">Страна</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">Россия</option>
              <option value="2">Россия</option>
              <option value="3">Россия</option>
            </select>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="change-settings">Сохранить изменения</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}