{% extends "base.html" %}{% block title %}Чат{% endblock %}
{% block content %}
<!-- список чатов -->
<div class="card my-3" style="width:36rem;">
    <div class="card-body">
        <div class="col text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background: none; border: none; padding: 0;">
                    <img width="25" height="25" src="{{url_for('static', filename='img/plus.png')}}" alt="speech-bubble"/>
            </button>
        </div>
        {% for group in groups %}
        <div class="row">
            <div class="col-2 text-start">
                    <img class="prf-circle" src="{{ url_for('static', filename='users_files/' + group.avatar) }}">
            </div>
            <div class="col text-start">
                <div class="col">
                    <a class="aa" href="{{ url_for('chat.chats', id=group.group_id) }}">
                    {{group.username}}
                    <div class="row">
                        <div class="col">
                            {{last_message.get(group.group_id)[1]}}: {{last_message.get(group.group_id)[0]}}
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <hr/>
        {% endfor %}
    </div>
</div>
<form method="POST">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card my-3" style="width:29rem;">
            <div class="card-body">
                {% for friend in friends %}
                <div class="row">
                    <div class="col-2 text-start">
                            <img class="prf-circle" src="{{ url_for('static', filename='users_files/' + friend.avatar)}}">
                    </div>
                    <div class="col text-start">
                        <div class="col">
                            {{friend.username}}
                            <button type="submit" class="btn btn-light" name="to-chat" value="{{friend.user_id}}">Написать</button>
                        </div>
                    </div>
                </div>
                <hr/>
                {% endfor %}
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}